# 概要

## 目標
- 不動産価格の単回帰分析

## 持ちデータ
- id:物件の固有番号
- space:部屋の大きさ
- room:間取り
- value：物件価格[万円]

## 事前知識
- 物件価格は部屋の大きさに相関がある

# ライブラリインストール

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy  
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12

plt.style.use("ggplot")
import seaborn as sns

#import missingno as msno

#from tqdm import tqdm_notebook as tqdm

#import plotly
#plotly.offline.init_notebook_mode(connected=False)

import warnings
warnings.filterwarnings('ignore') # warningが出ないように設定
pd.set_option("display.max_rows", None) # pandasの表示上限をなくす
pd.set_option("display.max_columns", None) # pandasの表示上限をなくす

import pystan

# データの確認

In [7]:
data = pd.read_excel("../data/real_estate1.xlsx")

In [8]:
data.head()

   id  space   room  value
0   1     50   2LDK   3050
1   2     70   2LDK   4690
2   3     70  2SLDK   4830
3   4     70   3LDK   5040
4   5     90   3LDK   6570

# 統計モデルの作成
## パラメータ
- N:物件数
- a:傾き
- b：雪片
- x:部屋数
- y:物件価格
- σ：誤差
## 統計モデル
- 物件価格がax+bと表せる
- y[n] ~ Normal(ax[n] + b, σ)